<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dao.NoteDao">


    <insert id="addNote" keyProperty="id" useGeneratedKeys="true" parameterType="Note">
       INSERT  INTO  note (user_id,content,created_date)
       VALUES (#{userId},#{content},now())
    </insert>

    <resultMap id="noteMap" type="Note">
        <id property="id" column="id"/>
        <result property="content" column="content"/>
        <result property="createdDate" column="created_date"/>
    </resultMap>

    <select id="getNoteList" parameterType="int" resultMap="noteMap">
        SELECT id,content,created_date
        FROM note WHERE status=1 AND user_id=#{userId}
    </select>
</mapper>